
@import "config/config";

html {
  @media (min-width: 0) {
      /*! media queries! */
      content: "";
  }

  @media (min-width: 25em) {
    /*! media queries! */
    content: "";
  }

  @media (min-width: 31.25em) {
    /*! media queries! */
    content: "";
  }

  @media (min-width: 43.75em) {
    /*! media queries! */
    content: "";
  }

  @media (min-width: 56.25em) {
    /*! media queries! */
    content: "";
  }
}


@import "base/base";
@import "global/global";
@import "atoms/atoms";
@import "organisms/organisms";


main a {
  text-decoration: none;
  color: rgb(154,26,26);
  transition: color 300ms ease-in-out;

  &:hover {
    color: black;
    text-decoration: underline;
  }
}

.crumbtrail a {
  display: inline-block;
}

/* Layout */

hr {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: none;
  height: 1px;
  background-color: rgb(216,216,216);

  .y2016 & {
    background-color: rgba(225, 164, 60, .5);
  }

  & + h2 {
    margin-top: 0;
  }

  &.light {
    background-color: rgb(228,228,228);
  }
}

.glacier {
  position: relative;
  max-width: $max-width;
  padding: 1em .5em;
  margin: 0 auto;

  @media (min-width: 31.25em) {
    padding: 1em;
  }
}

.ocean {
}

.ocean__inner {
  padding: 1em .5em;
  margin: 0 auto;
  max-width: $max-width;

  @media (min-width: 31.25em) {
    padding: 1em;
  }
}

.glacier > h1:first-child {
  margin-top: 0;
}

.time-location {
  font-weight: bold;
}

main dt {
  position: absolute;
}

main dd {
  margin-bottom: .5em;
  margin-left: 3em;
}

.toc {
  @include layout-list;
}


/*
a[href*="/2015/"]::after {
  content: " - 2015";
}

a[href*="/2016/"]::after {
  content: " - 2016";
}
*/

body {
  background-color: white;
}

.island {
  font-family: "Foundry Sans";
  color: rgb(255, 255, 255);
  margin: 0;
  padding: .5rem;
  @include font-size(-1);

  .y2014 & {
    background-color: rgb(156, 183, 61);
  }

  .y2015 &,
  .y2016 & {
    background-color: rgb(225, 164, 60);
  }
}

.island + .island {
  margin-top: 1rem;
}

.island p:first-child {
  font-weight: 900;
}
.island p {
  margin-top: 0;
  margin-bottom: 0;
}

.footer {
  padding: 1rem .5rem;
}

.footer ul {
  @include layout-list;
  margin-top: 0;
}

.toc li {
  display: inline-block;
  margin-bottom: .5rem;
}

.toc a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  padding: .5em 1em;
  font-family: $font-family-secondary;
  font-weight: 900;
  border-radius: 1.5em;
  @include font-size(-2);
  transition: all 300ms ease-in-out;

  &:active {
    position: relative;
    top: 1px;
  }

  &:hover {
    color: white;
  }

  .y2014 & {
    background-color: rgb(156, 183, 61);
    box-shadow: 0 2px 0 0 darken(rgb(156, 183, 61), 10%);
  }

  .y2015 &,
  .y2016 & {
    background-color: rgb(225, 164, 60);
    box-shadow: 0 2px 0 0 darken(rgb(225, 164, 60), 10%);
  }
}

.to-top > a {
  color: rgb(255, 255, 255);
  display: inline-block;
  line-height: 1;
  padding: .5em 1em;
  border-radius: 1em;
  text-decoration: none;
  font-family: "Foundry Sans";
  font-weight: 900;
  @include font-size(-2);
  text-transform: uppercase;
  transition: all 300ms ease-in-out;

  &:active {
    position: relative;
    top: 1px;
  }

  &:hover {
    color: white;
  }

  .y2014 & {
    background-color: rgb(156, 183, 61);
    box-shadow: 0 2px 0 0 darken(rgb(156, 183, 61), 10%);
  }

  .y2015 &,
  .y2016 & {
    background-color: rgb(225, 164, 60);
    box-shadow: 0 2px 0 0 darken(rgb(225, 164, 60), 10%);
  }
}

.note {
  @include font-size(-2);
  font-weight: bold;
  text-transform: uppercase;
}

.logos {
  img {
    max-width: 200px;
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    vertical-align: middle;
  }
}

.footer {
  font-family: $font-family-secondary;
  font-weight: bold;

  color: rgb(161,161,161);

  a {
    color: inherit;
  }
}
/*
html:before {
  background-color: rgba(255, 255, 201, .6);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  @include font-size(-2);
  font-family: sans-serif;

  @media (min-width: 0) {
    content: "BASE";
  }

  @media (min-width: 25em) {
    content: "X-SMALL";
  }

  @media (min-width: 31.25em) {
    content: "SMALL";
  }

  @media (min-width: 37.5em) {
    content: "MEDIUM";
  }

  @media (min-width: 43.75em) {
    content: "LARGE";
  }

  @media (min-width: 56.25em) {
    content: "X-LARGE";
  }


}
*/

.cookie-wrap {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  font-family: "Foundry Sans";
  font-weight: bold;
  @include font-size(-2);
  transition: all 300ms ease-in-out;

  a {
    color: white;
    display: inline-block;
    cursor: pointer;
  }

  p {
    background-color: rgba(154,26,26,0.9);
    color: rgb(255, 255, 255);
    margin-top: .5em;
    margin-bottom: .5em;
    padding: 0.5rem;
    display: inline-block;
  }

  button {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 1em;
    padding: 0em 0.5em;
    line-height: 2em;
    margin-right: 1em;
    cursor: pointer;
    display: inline-block;
  }

  &.hidden {
    display: none;
  }
}

.previous,
.next {
  font-family: $font-family-secondary;
  @include font-size(-1);
  font-weight: bold;
}

.previous + .next {
  margin-left: 1rem;
  border-left: 1px solid black;
  padding-left: 1rem;
}

/* Drop caps! */

h1 + p:first-of-type::first-letter {
  @supports(-webkit-initial-letter: 3) {
    -webkit-initial-letter: 3;
    margin-right: .5em;
    color: #9a1a1a;
  }
}
