<footer role="contentinfo">
	<div class="footer">

<h2>Länkar i footern:</h2>
<p><a href="#">Bingsjöstämmans historia</a></p>
<p><a href="#">Bingsjös spelmän och gårdar</a></p>
<p><a href="#">Spelmän mot främlingsfientlighet</a></p>
<p><a href="#">Miljöcertifiering</a></p>
<p>Program för tidigare år: <a href="#">2015</a>, <a href="#">2014</a>.</p>
<p>Bingsjöstämman arrangeras av <a href="http://www.dalarnasspelmansforbund.se/">Dalarnas Spelmansförbund</a>, <a href="http://www.folkmusikenshus.se/">Folkmusikens Hus</a> och Bingsjö Bystugeförening</a></p>
		<p class="copyright">&copy; 2013-2016 Bingsjöstämman.</p>
	</div>
</footer> <!-- END: footer -->
