<nav class="header__nav">
	<ul class="nav-primary">
		<li class="nav-primary__item"><a href="{{ url }}">Program</a></li>
		<li class="nav-primary__item"><a class="current" href="{{ url }}">Kurser</a></li>
		<li class="nav-primary__item"><a href="{{ url }}">Boende &amp; Inträde</a></li>
		<!-- <li class="nav-primary__item"><a href="{{ url }}">Contact</a></li> -->
	</ul>
</nav><!--end .header__nav-->
