<div class="nav-secondary" role="navigation">

  <div class="nav-secondary__logo">
    <img src="/img/logo_2019.png">
  </div>

  <div class="nav-secondary__links">

    {% if page.url != "/" %}
    <h3>Bingsjöstämman 2020</h3>
    {% else %}
    <h3><a href="/2020/">Bingsjöstämman 2020</a></h3>
    {% endif %}

    <ul>

      <!-- Allspelslåtar -->
      {% if page.url == '/2020/allspel/' %}
      <li class="current">
      {% else %}
      <li>
      {% endif %}
        <a href="/2020/allspel">Allspelslåtar</a>
      </li>

    </ul>

  </div>

</div>
