<nav class="header__nav">
  <ul class="nav-primary">

    {% if page.url contains '/2017/' %}
    <li class="nav-primary__item current">
    {% else %}
    <li class="nav-primary__item">
    {% endif %}
      <a href="/2017">Program</a>
    </li>

    {% if page.url == '/entre-camping/' %}
    <li class="nav-primary__item current">
    {% else %}
    <li class="nav-primary__item">
    {% endif %}
      <a href="/entre-camping">Entré/camping</a>
    </li>

    {% if page.url == '/praktisk-info/' %}
    <li class="nav-primary__item current">
    {% else %}
    <li class="nav-primary__item">
    {% endif %}
      <a href="/praktisk-info">Praktisk info</a>
    </li>

  </ul>
</nav>  <!--end .header__nav-->
