<nav class="header__nav">
  <ul class="nav-primary">

    {% if page.url contains '/2016/' %}
    <li class="nav-primary__item current">
    {% else %}
    <li class="nav-primary__item">
    {% endif %}
      <a href="/2016">Program</a>
    </li>

    {% if page.url == '/boende-entre/' %}
    <li class="nav-primary__item current">
    {% else %}
    <li class="nav-primary__item">
    {% endif %}
      <a href="/boende-entre">Boende/Entré</a>
    </li>

    {% if page.url == '/kontakt/' %}
    <li class="nav-primary__item current">
    {% else %}
    <li class="nav-primary__item">
    {% endif %}
      <a href="/kontakt">Kontakt</a>
    </li>

  </ul>
</nav>  <!--end .header__nav-->
