
<footer role="contentinfo">
  <div class="footer">

    <ul>
      <li><a href="/kontakt">Kontakta oss</a></li>
      <li><a href="/hitta-i-bingsjo">Hitta i Bingsjö</a></li>
      <li><a href="/miljodiplomerat">Miljödiplomerat</a></li>
      <li><a href="/spelman-mot-framlingsfientlighet">Spelmän mot främlingsfientlighet</a></li>
      <li>Program från tidigare år: <a href="/2017/">2017</a>, <a href="/2016/">2016</a>, <a href="/2015/">2015</a>, <a href="/2014/">2014</a></li>
    </ul>

    <hr>

    <p><small>Bingsjöstämman arrangeras av Dalarnas Spelmansförbund, Folkmusikens hus och Bingsjö bystugeförening.</small></p>

    <p class="sponsored">
      <small>Bingsjöstämman sponsras av Leksands Sparbank</small>
      <img src="/img/logos/leksands-sparbankrund.jpg" alt="">
    </p>
    <p><small><a href="/om-cookies">Om cookies</a></small></p>
  </div>
</footer>

<!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="cookie-wrap" id="cookie-wrap">
  <p>Genom att fortsätta använda den här webbplatsen godkänner jag att cookies används.<br><button id="cookie-btn" href="#">Jag godkänner</button><a href="/om-cookies">Läs mer här</a></p>
</div>
