
<footer role="contentinfo">
  <div class="footer">

<ul>
  <li><a href="/kontakt">Kontakta oss</a></li>
  <li><a href="/hitta-i-bingsjo">Hitta i Bingsjö</a></li>
  <li><a href="/miljodiplomerat">Miljödiplomerat</a></li>
  <li><a href="/spelman-mot-framlingsfientlighet">Spelmän mot främlingsfientlighet</a></li>
  <li>Program från tidigare år: <a href="/2015/">2015</a>, <a href="/2014/">2014</a></li>
</ul>

<hr>

<p><small>Bingsjöstämman arrangeras av Dalarnas Spelmansförbund, Folkmusikens hus och Bingsjö bystugeförening.</small></p>

  </div>
</footer>

<!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
