
<footer role="contentinfo">
  <div class="footer">

<ul>
  <li><a href="/hitta-i-bingsjo">Hitta i Bingsjö</a></li>
  <li><a href="/miljodiplomerat">Miljödiplomerat</a></li>
  <li><a href="/spelman-mot-framlingsfientlighet">Spelmän mot främlingsfientlighet</a></li>
  <li>Tidigare år: <a href="/2014/"><em>2014</em></a></li>
</ul>


  </div>
</footer>

<!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
