.crumbtrail {
  max-width: $max-width;
  padding: .5rem;
  margin: 0 auto;

  @media (min-width: 31.25em) {
    padding: .5rem 1rem;
  }
}


.breadcrumbs {
  @include layout-list;
  @include inline-elements(-2);
  font-family: $font-family-secondary;
  color: #888;

  a {
    color: #888;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

}

.breadcrumb + .breadcrumb::before {
  content: "/";
  display: inline-block;
  padding: 0 .2em 0 .5em;
}
