

[role="banner"] {
  position: fixed;
  top: 0;
  z-index: 1;

  padding-bottom: .5rem;
  width: 100%;

  background-color: white;
  background: linear-gradient(
    to bottom,
    rgb(255,255,255) 0%,
    rgb(255,255,255) 20%,
    rgba(255,255,255,0.93) 100%);

  border-bottom: 1px solid #dbdbdb; // TODO: color var here!
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.125);

  // @media only all {
  //   padding-right: 0 !important; // TODO: get rid of
  // }

  @media (min-width: 31.25em) {
    padding-bottom: .25rem;
  }
}


.header__logo b {
  display: none; /* TODO: visually hidden */
}


/* Themes * /

.y2014 > header {
  background-color: rgb(160,183,61);
  background: linear-gradient(
    to bottom,
    rgba(160,183,61,1) 0%,
    rgba(160,183,61,0.9) 100%);
}

.y2015 > header {
  background-color: rgb(225,164,60);
  background: linear-gradient(
    to bottom,
    rgba(225,164,60,1) 0%,
    rgba(225,164,60,0.9) 100%);
}

*/



.header {
  margin: 0 auto;
  max-width: $page-maxwidth;

  // @media (min-width: 0) {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  // }
  //
  // @media (min-width: $bp-small) {
  //   align-items: flex-end !important; // TODO: get rid of
  // }

//  padding-left: 1em;
//  padding-right: 1em;
//  padding-top: 1vw;
//  padding-bottom: 1vw;
}





.header__logo {

  margin: 0 auto;
  width: 1.2em;

//   @media (min-width: 0) {
//       display: block;
//       margin: 0 auto;
// //      width: 12vw;
// //      min-width: 3.5em;
//       width: 5rem;
//
//       margin-right: 0.5em;
//   }

//  display: inline-block;
//  width: 8vw;
//  min-width: 80px;
//  vertical-align: middle;
}




.header__logo > img {
  display: block;
}





.header__nav {

  margin: 0 auto;
  font-family: $font-family-secondary;
  font-weight: bold;
  flex-grow: 1;

  //
  //
  // @media (min-width: 0) {
  //   display: block;
  // }

}






.nav-primary {
  @supports not (display: flex) {
    @include inline-elements(-3);
    text-align: center;
  }

  @supports (display: flex) {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
  }

  @media (min-width: 31.25em) {
    @supports (display: flex) {
      width: 100%;
    }
  }

  @media (min-width: 43.75em) {
    @supports (display: flex) {
      width: 80%;
    }
  }
}





.nav-primary__item {
  @supports not (display: flex) {
    margin-left: .5em;
    margin-right: .5em;
  }

  @supports (display: flex) {
    @include font-size(-3);
  }
}



[role="banner"] {
  @media (min-width: 31.25em) {
    padding-bottom: 0;
  }
}

.header {
  @media (min-width: 31.25em) {
    @supports not (display: flex) {
      @include inline-elements;
    }

    @supports (display: flex) {
      display: flex;
      align-items: center;
    }
  }
}

.header__logo {
  @media (min-width: 31.25em) {
    @supports not (display: flex) {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.header__nav {
  @media (min-width: 31.25em) {
    @supports not (display: flex) {
      vertical-align: middle;
    }

    @supports (display: flex) {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
    }
  }
}






.nav-primary__item {
  @media (min-width: 25em) {
    @include font-size(-2);
  }

  @media (min-width: 37.5em) {
    @supports not (display: flex) {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
}



.header__logo {

  @media (min-width: 31.25em) {
    width: 4rem;
    margin: .5rem;
    margin-bottom: .25rem;
  }

  @media (min-width: 56.25em) {
    width: 5rem;
  }
}

.nav-primary {


  @include layout-list;

  // @media (min-width: 0) {
  //   margin-top: 0;
  // }
  //
  // @media (min-width: $bp-small) {
  //   display: flex;
  //   justify-content: space-around;
  // }
  //
  // @include font-size(-2);
  //
  // @media (min-width: 500px) {
  //   @include font-size(-1);
  // }
  //
  // @media (min-width: 600px) {
  //   justify-content: flex-end;
  // }

  // @media (orientation: landscape) {
  //   @include font-size(0);
  // }
}


.nav-primary__item {
  a {
    color: $color-bodytext;
    text-decoration: none;
    text-transform: uppercase;

    // @media (min-width: 0) {
    //   padding-right: .5rem;
    // }

    // @media (min-width: $bp-small) {
    //   padding-right: 0 !important; // TODO: get rid of
    //   padding-top: 0.25rem;
    //   padding-bottom: 0.25rem;
    //   display: block;
    // }
  }

  &.current a {
    border-bottom: 3px solid rgb(154, 26, 26); // TODO: color var here!


    // @media (min-width: 0) {
    //   border-right: 3px solid rgb(154, 26, 26); // TODO: color var here!
    // }
    //
    // @media (min-width: $bp-small) {
    //   border-right: 0 !important; // TODO: get rid of
    //   border-bottom: 3px solid rgb(154, 26, 26); // TODO: color var here!
    //
    //   // .y2014 &,
    //   // .y2015 & {
    //   //   border-bottom: 3px solid rgb(255,255,255); // TODO: color var here!
    //   // }
    // }
  }
}
