/* hero */

.hero {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 80%;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero::after {
    background-color: rgba(225,164,60, 0.3);
  @supports (mix-blend-mode: multiply) {
    background-color: rgba(225,164,60, 0.7);
    background: transparent, radial-gradient(35%,circle,rgba(225, 164, 60, .7),rgb(225, 164, 60));
    mix-blend-mode: multiply;
  }
}





.hero__inner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  height: 100%;
  transition: all 1s;
  text-align: center;
}





.hero__image {
  width: 100%;
  height: 100%;

  //  background-attachment: fixed;
  background-size: 220%;
  background-repeat: no-repeat;
  background-position-x: 50%;
//  background-position-y: 60%;
}


@media (min-width: 25em) {
  .hero {
    padding-bottom: 50%;
    padding-bottom: 60%;
  }
  .hero__image {
    background-size: 180%;
//    background-position-y: 60%;
  }
}

@media (min-width: 31.25em) {
  .hero {
    padding-bottom: 50%;
    padding-bottom: 45%;
  }
  .hero__image {
    background-size: 150%;
//    background-position-y: 60%;
  }
}

@media (min-width: 43.75em) {
  .hero {
    padding-bottom: 30%;
    padding-bottom: 0;
    height: 400px;
  }
  .hero__image {
    background-size: 100%;
    @supports (background-position-y: 30%) {
      background-size: 140%;
      background-position-y: 30%;
    }
  }
}


.home-heading {
  position: absolute;
  bottom: 100%;
  color: white;
  text-transform: uppercase;

  @media (max-width: 31.25em) {
    @include font-size(2);
    text-align: center;
  }
}
