.nav-secondary {
  display: flex;
}

.nav-secondary__logo {
  width: 200px;
  margin-right: 1.5rem;
//  background-color: rgb(225, 164, 60);
//  padding: 3% 0;
}

.nav-secondary__links {
  h3 {
    margin-top: 0;
    @media (min-width: 0) {
      @include font-size(0);
    }

    @media (min-width: 31.25em) {
      @include font-size(2);
      font-size: 1.4rem !important;
    }
  }

  ul {
    @include layout-list;
  }
}

.nav-secondary__links {
  a {
    display: block;
    text-decoration: none;
    color: rgb(154,26,26);
    transition: color 300ms ease-in-out;

    &:hover {
      color: black;
    }

  }

  ul {
    font-family: "Foundry Sans";
    font-size: 0.83333rem;
  }

}
