{{> organisms-header }}
{{> molecules-hero }}

<main>

  <h1>Välkommen till Bingsjöstämman</h1>
  <p>Varje sommar samlas spelmän, dansare och andra musikintresserade några dagar, kvällar och nätter i början av juli. Hela Bingsjö blir en levande scen där alla är välkomna att deltaga. Eller bara lyssna.</p>
  <p>Bingsjöstämman arrangeras första onsdagen i juli sedan 1969. Bakom arrangemenaget står Dalarnas Spelmansförbund, Folkmusikens Hus och Bingsjö Bystugeförening.</p>

{{> organisms-posts-preview }}

{{> atoms-headings }}
{{> atoms-paragraph }}
{{> atoms-paragraph }}
{{> atoms-headings }}
{{> atoms-paragraph }}
{{> atoms-paragraph }}
</main>

{{> organisms-footer }}
