<div class="post-preview">
  <a class="post-preview__url" href="{{ link.pages-post }}">
    <h2 class="post-preview__title">Dalecarlia Music Awards</h2>
  </a>
  <p class="post-preview__meta">23 mars 2016</date>
  <p class="post-preview__excerpt">Bingsjöstämman är nominerade till Årets arrangör för Dalecarlia Music Awards 2016.</p>
</div>
