<!-- <p>Primary font: "HelveticaNeue", "Helvetica", "Arial", sans-serif;</p>
<p><em>Primary font italic: "HelveticaNeue", "Helvetica", "Arial", sans-serif;</em></p>
<p><strong>Primary font bold: "HelveticaNeue", "Helvetica", "Arial", sans-serif;</strong></p>
<p class="font-secondary">Secondary font: Georgia, Times, "Times New Roman", serif;</p>
<p class="font-secondary"><em>Secondary font italic: Georgia, Times, "Times New Roman", serif;</em></p>
<p class="font-secondary"><strong>Secondary font bold: Georgia, Times, "Times New Roman", serif;</strong></p>

<hr> -->

<style>
.font-secondary {
  font-family: "Foundry Sans";
}

strong {
  font-weight: bold;
  font-style: normal;
}

em {
  font-weight: normal;
  font-style: italic;
}
</style>

<!-- Primary font stack -->
<p>Primary font: "Electra Lt Std", Georgia, Times, "Times New Roman", serif</p>
<p><em>Primary font, italic: "Electra Lt Std Cursive", Georgia, Times, "Times New Roman", serif</em></p>
<p><strong>Primary font, bold: "Electra Lt Std Bold", Georgia, Times, "Times New Roman", serif</strong></p>

<!-- Secondary font stack -->
<p class="font-secondary">Secondary font: "Foundry Sans Normal", Helvetica, Arial, sans-serif</p>
<p class="font-secondary"><strong>Secondary font, bold: "Foundry Sans Medium", Helvetica, Arial, sans-serif</strong></p>
<p class="font-secondary"><strong style="font-weight: 900;">Secondary font, black: "Foundry Sans Demi", Helvetica, Arial, sans-serif</strong></p>

<!--
<div style="font-family: 'electra-lt-std">
  <p>Lorem ipsum dolor sit amet, adipiscing elit. Electra.</p>
</div>

<div style="font-family: 'electra-lt-std-cursive">
  <p>Lorem ipsum dolor sit amet, adipiscing elit. Electra Cursive.</p>
</div>

<div style="font-family: 'electra-lt-std-bold">
  <p>Lorem ipsum dolor sit amet, adipiscing elit. Electra Bold.</p>
</div>

<div style="font-family: 'foundry-sans-light">
  <p>Lorem ipsum dolor sit amet, adipiscing elit. Foundry Light.</p>
</div>

<div style="font-family: 'foundry-sans-normal">
  <p>Lorem ipsum dolor sit amet, adipiscing elit. Foundry Normal.</p>
</div>

<div style="font-family: 'foundry-sans-medium">
  <p>Lorem ipsum dolor sit amet, adipiscing elit. Foundry Medium.</p>
</div>

<div style="font-family: 'foundry-sans-demi">
  <p>Lorem ipsum dolor sit amet, adipiscing elit. Foundry Demi.</p>
</div> -->
