<!DOCTYPE html>
<html class="no-js" lang="en" itemscope itemtype="http://schema.org/Article">

{% include root-head.html %}

<body {% if page.year %} class="y{{ page.year }}" {% endif %}>

  {% include page-header.html %}

  <div class="hero">
    <div class="hero__inner">
      <div class="hero__image"
      {% if page.hero-img %}
        style="background-image: url({{ page.hero-img }});">
      {% else %}
        {% if page.id %}
          style="background-image: url({{ site.hero-img }});">
        {% else %}
          {% for p in site.pages %}
            {% if p.year-index == page.year %}
              style="background-image: url({{ p.hero-img }});">
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
      </div>
    </div>
  </div>

  <main role="main">



  {% if page.url != "/" %}
    {% if page.nocrumb != "true" %}
      {% include crumbtrail.html %}
    {% endif %}
  {% endif %}


    {{ content }}

  </main>

  {% include page-footer.html %}

  {% include scripts.html %}

  <!-- Published via GitHub Pages -->
</body>

</html>
