/**
 *
 * LAYOUT LIST
 *
 * Use this mixin to remove list bullets, margin and padding when using lists for layout purposes
 *
 */




@mixin layout-list($margin-top: 0) {

  // @if($margin-top == none) {
  //   // Do nothing
  // }
  // @else {
  //   @include unit-margin($margin-top, $top: true);
  // }

  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
